body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(64, 62, 62);
    font-weight: bold;
    font-family: Roboto;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 2em 1em;
}

.container.scores {
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

button {
    width: 6em;
    height: 3em;
    padding: 10em;
    border: solid 2px white;
    border-radius: 35px;
    background-color: cornsilk;
    transition: transform 0.2s, border-color 0.2s, box-shadow 0.2s;
    font-weight: bold;
    font-family: Roboto;
    font-size: 24px;
}

button:hover {
    transform: scale(1.4);
    border-color: yellow;
    background-color: rgb(255, 255, 0, 0.8);
    box-shadow: 0 0 10px yellowgreen;
}

.score {
    color: cornsilk;
}